/* Mise en place importations polices ShriKhand et Roboto*/

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$bodyfontfamily:Roboto;
$titlefontfamily:Shrikhand;
$colorprimary:#9356DC;
$colorsecondary:#FF79DA;
$colortertiary:#99E2D0;


body{
    font-size:15px;
    font-family:$bodyfontfamily ;
    margin: 0;
}

h1{
    font-family:$titlefontfamily ;
    margin: 0;
    padding-top: 15px;
}

a{
    text-decoration: none;
}

a:visited{
    color: black;
}

header{
    text-align: center;
    .retour_header{
        display: flex;
        justify-content: center;
        position: relative;
        a{
            position: absolute;
            left: 40px;
            top: 25px;
            font-size: 1.4em;
        }
    }
}

.page_restaurant{
    display: inline-flex;
    justify-content: center;
}

.localisation{
    background-color: #eaeaea;
    height:40px;
    text-align: center;
    line-height: 40px;
    box-shadow : inset  0 2px 2px 0px rgb(180,180,180);
    i{
        padding-right:15px;
        font-size: 1em;
    }
    span{
        padding-right:15px;
    }
}

.presentation{
    text-align: center;
    padding: 10px 50px 50px 50px;
    background-color: #f6f6f6;
    h2{
        padding: 0px 20px;
        margin-bottom: 0;
    }
    p{
        font-weight: normal;
        margin: 10px 0 ;
    }
}

.presentations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button
{
  margin-top:10px;
  border-radius: 25px;
  padding:15px 20px;
  color:white;
  background-image:linear-gradient($colorsecondary,$colorprimary);
  box-shadow:5px 5px 5px rgb(210,210,210);
  border:none;
  cursor: pointer;
    &:hover{
        background-color: white;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
    }
}

.fonctionnement
{
  padding: 20px 20px 50px 20px;
  flex-direction: column;
}

.fonctionnement_appli{
    display: flex;
    flex-direction: column;
    align-items: center;
    .fonctionnement_ordre{
        display: flex;
        position: relative;
        width: 80%;
        padding-left: 0;
        text-align: center;
        background-color:rgb(245,245,245);
        border-radius: 15px;
        padding:20px 20px;
        box-shadow: 5px 5px 5px rgb(210,210,210);
        margin-bottom: 10px;
        .ordre_number{
            text-align: left;
            position:absolute;
            left: -10px;
            padding:2px 7px;
            color:white;
            background:$colorprimary;
            border-radius:50%;
        }
        i{
            margin: 0 28px 0 10px;
            color: #7e7e7e;
        }
        span{
            font-weight: bold;
        }
        .fa-store{
            color:$colorprimary;
        }
    }
}


.acceuil_restaurants{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#f6f6f6 ;
    padding:45px 20px;
    // h2{
    //     padding-left: 10px;
    // }
   
.restaurants{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    .restaurant{
        // display: inline-flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 25px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 4px 10px 3px rgba(226,226,226,1);
        img{
            background-size: contain;
            width: 100%;
            border-radius: 15px 15px 0 0;
        }
        .description_restaurant{
            display: flex;
            flex-direction: column;
            position: relative;
            padding-left: 15px;
         .coeur{
                position: absolute;
                right: 20px;
                top: 12px;
                font-size:1.8em;
                i:hover{
                //    background:  -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
                background: $colorprimary;
                transition: all 150ms ease-out;
                   background-clip: text;
                   -webkit-text-fill-color: $colorsecondary;
                }
            }
        }  
    }
}


}

.restaurant_name{
    font-weight: bold;
    padding-top: 10px;
}
.restaurant_adresse{
    margin:2px 0 10px 0;
}

img{
    // max-width: 450px;
    // width: 50%;
    height: 175px;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;
    padding:0 0 25px 15px;
    h3{
        font-family: $titlefontfamily;
    }
    .lien_footer{
        display: flex;
    }
    i{
        margin-right: 13px;
        padding-top: 3px;
    }
    :nth-child(2){
        padding-left: 6px;
    }
    a{
        color: white;
        margin-bottom: 5px;
    }
}

// Index 2 restaurant
.image_restaurant{
    background-size: cover;
    background-image: url("/assets/img/restaurants/resto1.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 175px;
}

.presentation_menu{
    background-color: #f6f6f6;
    margin-top: -35px;
    border-radius: 20px;
}

.titre_restaurant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    h2{
        font-family: $titlefontfamily;
    }
    i{
        font-size: 1.5em;
        font-weight: lighter;
        padding-top: 0;
    }
}

.commander{
    display: flex;
    justify-content: center;
    padding: 20px 0 45px 0;
    button{
        width: 165px;
    }
}

.price{
    font-weight: bold;
}

.separateur{
    height: 3px;
    width: 40px;
    background-color:$colortertiary;
    margin-top: 5px;
}

.bloc_menu{
    padding: 0 10px ;
    margin-top: 25px;
    .bloc_plat{
        display: flex;
        height: 70px;
        background-color: white;
        padding-left: 10px;
        border-radius: 15px;
        margin-top: 10px;
        cursor: pointer;
        box-shadow: 0px 4px 10px 3px rgba(226,226,226,1);
        &.modified{
            height: 85px;
        }
    .plat{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        padding-right: 20px;  
        .name{
            margin-top: 10px;
            margin-bottom: 8px;
            font-size: 1.2em;
            font-weight: bold; 
            max-width:268px;
            width: 82%;
            text-overflow: ellipsis;
            text-overflow: "…";
            white-space: nowrap;
            overflow: hidden;
        }
        .infos{
            display: flex;
            justify-content: space-between;  
            .ingredients{
            text-overflow: ellipsis;
            text-overflow: "…";
            white-space: nowrap;
            overflow: hidden;
            max-width:267px;
            width: 82%;
            }
        }
    }
    .validate{
        width: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: width 0.5s ease-out;
        i{
            font-size: 1.2em;
        }
    }
} 
}

@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg)
    }
}

.bloc_plat:hover{
    .validate{
        width: 60px;
        background-color: #99e2d0;
        i{
            animation: spin 0.5s;
            animation-iteration-count: 1;
        }
    }
}